* {
  margin: 0;
  padding: 0;
  font-family: "Iceland", cursive;
  outline: none;
}

.body {
  height: 100vh;
}

.body-bg {
  width: 105%;
  position: fixed;
  z-index: -1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
  background: #000000ad;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-item {
  color: white;
  list-style-type: none;
  font-size: 2rem;
  cursor: pointer;
}

.header-nav-item-img {
  width: 70px;
}

.header-nav-item a {
  color: white;
  text-decoration: none;
}

.header-nav-item.block {
  cursor: no-drop;
}

.header-nav .login {
  cursor: no-drop;
}

.headerMob {
  display: none;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-box {
  background: black;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-box-title {
  color: white;
  letter-spacing: 20px;
  font-size: 70px;
  margin-bottom: 25px;
  font-weight: 100;
  background: #000000e3;
  padding: 15px;
}

.main-box-subtitle {
  color: white;
  letter-spacing: 25px;
  position: relative;
  width: 515px;
  font-size: 30px;
  padding: 15px;
}

.main-box-subtitle::after {
  content: "We break you!";
  position: absolute;
  left: 2px;
  background: black;
  animation: glitch 2.5s infinite linear alternate-reverse;
}

.main-box-subtitle::before {
  content: "We break you!";
  position: absolute;
  left: -3px;
  background: black;
}

.hist,
.curios {
  background: #000000cf;
  width: 90%;
  margin: 50px auto;
  padding: 1%;
  border-radius: 25px;
  position: relative;
}

.hist-title,
.curios-title {
  color: white;
  font-size: 35px;
  letter-spacing: 15px;
  text-align: center;
  padding: 50px 0;
}

.hist-box,
.curios-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 100px;
}

.hist-box-text,
.curios-box-text {
  margin: 0 5%;
}

.hist-box-text-subtitle,
.curios-box-text-subtitle {
  color: #fff;
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 100;
  letter-spacing: 2px;
}

.hist-box-text-parag,
.curios-box-text-parag {
  color: #fff;
  font-size: 35px;
  text-align: center;
}

.hist-box-text-parag .red,
.curios-box-text-parag .red {
  color: red;
}

.hist-box-img,
.curios-box-img {
  width: 80px;
  margin: 15px 0;
}

.hist-box-number,
.curios-box-number {
  color: white;
  position: absolute;
  bottom: 10px;
}

.hist-carrossel,
.curios-carrossel {
  display: block !important;
  text-align: -webkit-center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hist-carrossel .slick-prev,
.curios-carrossel .slick-prev {
  font-size: 0;
  background: url(../img/arrow.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 0;
  bottom: 50%;
  outline: none;
  z-index: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hist-carrossel .slick-next,
.curios-carrossel .slick-next {
  font-size: 0;
  background: url(../img/arrow.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  right: 0;
  bottom: 50%;
  outline: none;
  z-index: 1;
}

.hack {
  background: #000000cf;
  width: 90%;
  margin: 50px auto;
  padding: 1%;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hack-title {
  color: white;
  font-size: 35px;
  letter-spacing: 15px;
  text-align: center;
  padding: 50px 0;
}

.hack-subtitle {
  color: white;
  font-size: 35px;
  text-align: center;
}

.hack-subtitle b {
  color: red;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.hack-button {
  background: black;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 25px;
  border: 2px solid red;
  padding: 10px 15px;
  margin: 150px 0;
  cursor: pointer;
  -webkit-transition: background 0.5s, -webkit-transform 1s;
  transition: background 0.5s, -webkit-transform 1s;
  transition: background 0.5s, transform 1s;
  transition: background 0.5s, transform 1s, -webkit-transform 1s;
}

.hack-button:hover {
  background: red;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hack .modal {
  display: none;
  background: #000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 6;
}

.hack .modal-parag {
  color: #fff;
  font-size: 50px;
  width: 80%;
  text-align: center;
}

.hack .modal-parag b {
  color: red;
}

.hack .modal-button {
  background: #145d07;
  color: #fff;
  font-size: 50px;
  border-radius: 25px;
  border: none;
  padding: 20px 50px;
  letter-spacing: 5px;
  margin: 50px 0;
  cursor: pointer;
}

.hack .modal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.hack .modal-check-text {
  color: #fff;
  margin-right: 25px;
  font-size: 30px;
}

.hack .modal-check-input {
  width: 30px;
  height: 30px;
}

.hack .modal-bait {
  background: black;
  color: #fff;
  font-size: 25px;
  border-radius: 25px;
  border: 2px solid red;
  padding: 10px 25px;
  cursor: no-drop;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 800;
}

.hack .modal-bait.is--active {
  background: red;
  cursor: pointer;
}

.hack .modal.is--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

.hack-loading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: #312f2f;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 9;
  background: url(../img/skull.gif) no-repeat;
  background-size: cover;
  background-position: center;
}

.hack-loading-text {
  color: white;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 25px 0;
}

.hack-loading-bar {
  height: 20px;
  width: 80%;
  background: #383737;
  margin: 0 auto;
  border-radius: 10px;
}

.hack-loading-bar-inside {
  width: 0%;
  background: red;
  height: 20px;
  border-radius: 10px;
  text-align: end;
  color: white;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 700;
}

.imagem-bait {
  position: fixed;
  right: 1rem;
  bottom: -46%;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
}

#bImg {
  position: fixed;
  right: 0;
  bottom: -30%;
  -webkit-transition: bottom 1.5s;
  transition: bottom 1.5s;
}

.activeAvast {
  bottom: 0 !important;
  z-index: 7;
}

.setaBaixo {
  width: 35px;
  position: absolute;
  bottom: 5vh;
  background: black;
  padding: 5px;
  border-radius: 50%;
  -webkit-animation: bounceArrow 1s infinite;
          animation: bounceArrow 1s infinite;
}

.modalConfirm {
  display: none;
  background: #000;
  position: fixed;
  padding: 150px 15px;
  border-radius: 25px;
  border: 3px solid red;
}

.modalConfirm-text {
  color: white;
  font-size: 50px;
  text-align: center;
}

.modalConfirm-close {
  background: url(../img/close.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0px;
}

.modalConfirm.activeConfirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logcad {
  height: 475px;
  width: 1000px;
  background: rgba(0, 76, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 20vh;
  border-radius: 20px;
}

.logcad-form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logcad-form-title {
  color: white;
  font-size: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.logcad-form-input {
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  margin: 5px 0;
  width: 200px;
}

.logcad-form-btn {
  background: green;
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 25px;
  border: 2px solid black;
  margin: 20px 0;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.logcad-form-btn:hover {
  background: #065506;
}

.logcad-form-span {
  color: white;
  font-size: 20px;
}

.logcad-form-span a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.movement {
  height: 100%;
  width: 500px;
  background: black;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.movement-img {
  width: 175px;
  margin-top: 50px;
}

.movement-title {
  font-size: 30px;
  color: white;
  margin: 30px 0;
}

.movement-text {
  font-size: 25px;
  color: white;
  margin: 0 30px;
  line-height: 30px;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  width: 100%;
  padding: 10px 0;
}

.footer-dev {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: monospace;
  font-size: 20px;
}

.footer-dev-img {
  width: 50px;
  margin: 0 10px;
  border-radius: 20px;
}

.footer-dev a {
  margin: 0 5px;
  letter-spacing: 3px;
  -webkit-animation: rainbow 5s linear infinite;
          animation: rainbow 5s linear infinite;
}

.footerMob {
  display: none;
}

.active {
  -webkit-transform: translate(500px, 0px);
          transform: translate(500px, 0px);
}

#scrollHist,
#scrollCurios,
#scrollHack {
  position: absolute;
  top: -100px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

@media screen and (max-width: 780px) {
  .body {
    height: 0;
  }
  .body-bg {
    height: 100vh;
    width: auto;
  }
  .header {
    display: none;
  }
  .headerMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 85px;
    position: fixed;
    width: 100%;
    background: #000;
    margin-bottom: 10px;
    z-index: 6;
  }
  .headerMob-menu {
    height: 5px;
    width: 30px;
    background: #fff;
    z-index: 6;
    position: absolute;
    right: 15px;
    border-radius: 25px;
  }
  .headerMob-menu::after {
    content: "";
    height: 5px;
    width: 30px;
    background: #fff;
    position: absolute;
    bottom: 10px;
    border-radius: 25px;
  }
  .headerMob-menu::before {
    content: "";
    height: 5px;
    width: 30px;
    background: #fff;
    position: absolute;
    top: 10px;
    border-radius: 25px;
  }
  .headerMob .menuTransform {
    right: -30px;
  }
  .headerMob .menuTransform::after {
    right: 45px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    bottom: 0;
  }
  .headerMob .menuTransform::before {
    right: 45px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    top: 0px;
  }
  .headerMob-img {
    width: 75px;
    z-index: 5;
    padding: 0 50%;
    background: #000;
  }
  .headerMob-nav {
    position: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 85px;
    z-index: 4;
    top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: #000;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
  }
  .headerMob-nav-item {
    color: white;
    list-style-type: none;
    font-size: 20px;
  }
  .headerMob .activeHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 80px;
  }
  .main-box {
    padding: 20px;
  }
  .main-box-title {
    font-size: 55px;
    text-align: center;
    letter-spacing: 10px;
  }
  .main-box-subtitle {
    letter-spacing: 6px;
    width: 230px;
    font-size: 25px;
    padding: 0;
  }
  .main-subtitle {
    letter-spacing: 10px;
    font-size: 25px;
    width: auto;
    text-align: center;
    z-index: -1;
  }
  .main-subtitle::after {
    left: 0;
  }
  .setaBaixo {
    z-index: -1;
    height: 50px;
    -webkit-animation: bounceArrow 2s linear infinite;
            animation: bounceArrow 2s linear infinite;
  }
  .bait {
    font-size: 30px;
    margin-top: 50px;
    background: green;
    border: 1px solid green;
    color: white;
    padding: 15px 5px;
    border-radius: 25px;
    width: 300px;
  }
  .hist,
  .curios {
    width: 95%;
  }
  .hist-title,
  .curios-title {
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 100;
  }
  .hist-carrossel .slick-prev,
  .curios-carrossel .slick-prev {
    height: 30px;
    width: 30px;
  }
  .hist-carrossel .slick-next,
  .curios-carrossel .slick-next {
    height: 30px;
    width: 30px;
  }
  .hist-box,
  .curios-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hist-box-text,
  .curios-box-text {
    margin: 0 8%;
  }
  .hist-box-text-parag,
  .curios-box-text-parag {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .hist-box-img,
  .curios-box-img {
    width: 50px;
    margin: 0 auto;
  }
  .hack-title {
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 100;
  }
  .hack-subtitle {
    font-size: 25px;
  }
  .hack-subtitle b {
    letter-spacing: 7px;
    font-size: 25px;
  }
  .hack-button {
    background: red;
    margin: 75px 0;
  }
  .hack .modal-parag {
    font-size: 35px;
    width: 95%;
  }
  .hack .modal-button {
    font-size: 45px;
    margin: 35px 0;
  }
  .hack .modal-check-input {
    margin-top: 15px;
  }
  .hack .modal-check-text {
    width: 220px;
  }
  .hack .modal-bait {
    margin-top: 25px;
  }
  .footer {
    display: none;
  }
  .footerMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    margin-top: 75px;
  }
  .footerMob-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .footerMob-box-dev {
    color: white;
    font-size: 1.6rem;
  }
  .footerMob-box-img {
    width: 40px;
    border-radius: 15px;
    margin: 0 10px;
  }
  .footerMob-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerMob-link-dev {
    color: white;
    font-size: 1.2rem;
  }
  .footerMob-link-rainbow {
    -webkit-animation: rainbow 5s linear infinite;
            animation: rainbow 5s linear infinite;
    font-size: 20px;
    font-weight: 800;
    margin: 0 10px;
  }
  .footerMob-link-text {
    color: white;
    font-size: 1rem;
  }
}

@-webkit-keyframes bounceArrow {
  0% {
    bottom: 5vh;
  }
  50% {
    bottom: 3vh;
  }
  100% {
    bottom: 5vh;
  }
}

@keyframes bounceArrow {
  0% {
    bottom: 5vh;
  }
  50% {
    bottom: 3vh;
  }
  100% {
    bottom: 5vh;
  }
}

@-webkit-keyframes glitch {
  0% {
    -webkit-clip-path: inset(0 0 19% 0);
            clip-path: inset(0 0 19% 0);
  }
  40% {
    -webkit-clip-path: inset(31% 0 52% 0);
            clip-path: inset(31% 0 52% 0);
  }
  80% {
    -webkit-clip-path: inset(13% 0 2% 0);
            clip-path: inset(13% 0 2% 0);
  }
  100% {
    -webkit-clip-path: inset(40% 0 47% 0);
            clip-path: inset(40% 0 47% 0);
  }
}

@keyframes glitch {
  0% {
    -webkit-clip-path: inset(0 0 19% 0);
            clip-path: inset(0 0 19% 0);
  }
  40% {
    -webkit-clip-path: inset(31% 0 52% 0);
            clip-path: inset(31% 0 52% 0);
  }
  80% {
    -webkit-clip-path: inset(13% 0 2% 0);
            clip-path: inset(13% 0 2% 0);
  }
  100% {
    -webkit-clip-path: inset(40% 0 47% 0);
            clip-path: inset(40% 0 47% 0);
  }
}

@-webkit-keyframes rainbow {
  100%, 0% {
    color: red;
  }
  8% {
    color: #ff7f00;
  }
  16% {
    color: yellow;
  }
  25% {
    color: chartreuse;
  }
  33% {
    color: lime;
  }
  41% {
    color: springgreen;
  }
  50% {
    color: cyan;
  }
  58% {
    color: #007fff;
  }
  66% {
    color: blue;
  }
  75% {
    color: #7f00ff;
  }
  83% {
    color: magenta;
  }
  91% {
    color: #ff007f;
  }
}

@keyframes rainbow {
  100%, 0% {
    color: red;
  }
  8% {
    color: #ff7f00;
  }
  16% {
    color: yellow;
  }
  25% {
    color: chartreuse;
  }
  33% {
    color: lime;
  }
  41% {
    color: springgreen;
  }
  50% {
    color: cyan;
  }
  58% {
    color: #007fff;
  }
  66% {
    color: blue;
  }
  75% {
    color: #7f00ff;
  }
  83% {
    color: magenta;
  }
  91% {
    color: #ff007f;
  }
}
/*# sourceMappingURL=styles.css.map */