* {
    margin: 0;
    padding: 0;
    font-family: "Iceland", cursive;
    outline: none;
}

$white: #fff;
$black: #000;
$green: #145d07;

.body {
    height: 100vh;

    &-bg {
        width: 105%;
        position: fixed;
        z-index: -1;
    }
}

// ---------- inicio Header ----------
.header {
    display: flex;
    align-items: center;
    height: 12vh;
    background: #000000ad;
    position: fixed;
    width: 100%;
    z-index: 5;
    &-nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        &-item {
            color: white;
            list-style-type: none;
            font-size: 2rem;
            cursor: pointer;

            &-img {
                width: 70px;
            }
            a {
                color: white;
                text-decoration: none;
            }
            &.block {
                cursor: no-drop;
            }
        }
        .login{
            cursor: no-drop;
        }
    }
}

.headerMob {
    display: none;
}

// ---------- Main ----------
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-box {
        background: black;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title {
            color: white;
            letter-spacing: 20px;
            font-size: 70px;
            margin-bottom: 25px;
            font-weight: 100;
            background: #000000e3;
            padding: 15px;
        }

        &-subtitle {
            color: white;
            letter-spacing: 25px;
            position: relative;
            width: 515px;
            font-size: 30px;
            padding: 15px;

            &::after {
                content: "We break you!";
                position: absolute;
                left: 2px;
                background: black;
                animation: glitch 2.5s infinite linear alternate-reverse;
            }

            &::before {
                content: "We break you!";
                position: absolute;
                left: -3px;
                background: black;
            }
        }
    }
}

// ---------- História/Curiosidades ----------
.hist,
.curios {
    background: #000000cf;
    width: 90%;
    margin: 50px auto;

    padding: 1%;
    border-radius: 25px;
    position: relative;
    &-title {
        color: white;
        font-size: 35px;
        letter-spacing: 15px;
        text-align: center;
        padding: 50px 0;
    }

    &-box {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 100px;

        &-text {
            margin: 0 5%;

            &-subtitle {
                color: $white;
                font-size: 35px;
                text-align: center;
                margin-bottom: 30px;
                font-weight: 100;
                letter-spacing: 2px;
            }

            &-parag {
                color: $white;
                font-size: 35px;
                text-align: center;
                .red {
                    color: red;
                }
            }
        }

        &-img {
            width: 80px;
            margin: 15px 0;
        }
        &-number {
            color: white;
            position: absolute;
            bottom: 10px;
        }
    }

    // carrossel
    &-carrossel {
        display: block !important;
        text-align: -webkit-center;
        align-items: center;

        .slick-prev {
            font-size: 0;
            background: url(../img/arrow.svg) no-repeat;
            background-size: cover;
            background-position: center;
            height: 50px;
            width: 50px;
            border: none;
            cursor: pointer;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            position: absolute;
            left: 0;
            bottom: 50%;
            outline: none;
            z-index: 1;
            transform: rotate(180deg);
        }

        .slick-next {
            font-size: 0;
            background: url(../img/arrow.svg) no-repeat;
            background-size: cover;
            background-position: center;
            height: 50px;
            width: 50px;
            border: none;
            cursor: pointer;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            position: absolute;
            right: 0;
            bottom: 50%;
            outline: none;
            z-index: 1;
        }
    }
}

.hack {
    background: #000000cf;
    width: 90%;
    margin: 50px auto;
    padding: 1%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &-title {
        color: white;
        font-size: 35px;
        letter-spacing: 15px;
        text-align: center;
        padding: 50px 0;
    }

    &-subtitle {
        color: white;
        font-size: 35px;
        text-align: center;

        b {
            color: red;
            text-transform: uppercase;
            letter-spacing: 10px;
        }
    }

    &-button {
        background: black;
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 5px;
        border-radius: 25px;
        border: 2px solid red;
        padding: 10px 15px;
        margin: 150px 0;
        cursor: pointer;
        transition: background 0.5s, transform 1s;

        &:hover {
            background: red;
            transform: scale(1.2);
        }
    }

    .modal {
        display: none;
        background: #000;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 6;

        &-parag {
            color: $white;
            font-size: 50px;
            width: 80%;
            text-align: center;

            b {
                color: red;
            }
        }

        &-button {
            background: $green;
            color: $white;
            font-size: 50px;
            border-radius: 25px;
            border: none;
            padding: 20px 50px;
            letter-spacing: 5px;
            margin: 50px 0;
            cursor: pointer;
        }

        &-check {
            display: flex;
            margin: 10px;

            &-text {
                color: $white;
                margin-right: 25px;
                font-size: 30px;
            }
            &-input{
                width: 30px;
                height: 30px;
            }
        }

        &-bait {
            background: black;
            color: #fff;
            font-size: 25px;
            border-radius: 25px;
            border: 2px solid red;
            padding: 10px 25px;
            cursor: no-drop;
            margin-top: 50px;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: 800;

            &.is--active {
                background: red;
                cursor: pointer;
            }
        }

        &.is--active {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
        }
    }
    &-loading {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        background: #312f2f;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        z-index: 9;
        background: url(../img/skull.gif) no-repeat;
        background-size: cover;
        background-position: center;
        &-text {
            color: white;
            font-size: 35px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin: 25px 0;
        }
        &-bar {
            height: 20px;
            width: 80%;
            background: #383737;
            margin: 0 auto;
            border-radius: 10px;
            &-inside {
                width: 0%;
                background: red;
                height: 20px;
                border-radius: 10px;
                text-align: end;
                color: white;
                padding-right: 10px;
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}

.imagem-bait {
    position: fixed;
    right: 1rem;
    bottom: -46%;
    transition: bottom 0.5s;
}

#bImg {
    position: fixed;
    right: 0;
    bottom: -30%;
    transition: bottom 1.5s;
}

.activeAvast {
    bottom: 0 !important;
    z-index: 7;
}

.setaBaixo {
    width: 35px;
    position: absolute;
    bottom: 5vh;
    background: black;
    padding: 5px;
    border-radius: 50%;
    animation: bounceArrow 1s infinite;
}

.modalConfirm {
    display: none;
    background: $black;
    position: fixed;
    padding: 150px 15px;
    border-radius: 25px;
    border: 3px solid red;

    &-text {
        color: white;
        font-size: 50px;
        text-align: center;
    }

    &-close {
        background: url(../img/close.svg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 50px;
        width: 50px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0px;
    }
    &.activeConfirm {
        display: flex;
    }
}

// Login - Cadastro
.logcad {
    height: 475px;
    width: 1000px;
    background: rgba(0, 76, 0, 0.8);
    display: flex;
    position: relative;
    margin: 0 auto;
    top: 20vh;
    border-radius: 20px;
    &-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title {
            color: white;
            font-size: 35px;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 50px;
        }
        &-input {
            padding: 5px 10px;
            border-radius: 25px;
            border: none;
            margin: 5px 0;
            width: 200px;
        }
        &-btn {
            background: green;
            color: white;
            padding: 5px 15px;
            border-radius: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 25px;
            border: 2px solid black;
            margin: 20px 0;
            cursor: pointer;
            transition: background 0.5s;
            &:hover {
                background: rgb(6, 85, 6);
            }
        }
        &-span {
            color: white;
            font-size: 20px;
            a {
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
}

.movement {
    height: 100%;
    width: 500px;
    background: black;
    transition: transform 1s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    &-img {
        width: 175px;
        margin-top: 50px;
    }
    &-title {
        font-size: 30px;
        color: white;
        margin: 30px 0;
    }
    &-text {
        font-size: 25px;
        color: white;
        margin: 0 30px;
        line-height: 30px;
        text-align: center;
    }
}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    background: black;
    width: 100%;
    padding: 10px 0;
    &-dev {
        color: white;
        display: flex;
        align-items: center;
        font-family: monospace;
        font-size: 20px;
        &-img {
            width: 50px;
            margin: 0 10px;
            border-radius: 20px;
        }
        a {
            margin: 0 5px;
            letter-spacing: 3px;
            animation: rainbow 5s linear infinite;
        }
    }
}
.active {
    transform: translate(500px, 0px);
}

// scroll
#scrollHist,
#scrollCurios,
#scrollHack {
    position: absolute;
    top: -100px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

@media screen and (max-width: 780px) {
    .body {
        height: 0;
    }

    .body-bg {
        height: 100vh;
        width: auto;
    }

    .header {
        display: none;
    }

    .headerMob {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85px;
        position: fixed;
        width: 100%;
        background: $black;
        margin-bottom: 10px;
        z-index: 6;

        &-menu {
            height: 5px;
            width: 30px;
            background: $white;
            z-index: 6;
            position: absolute;
            right: 15px;
            border-radius: 25px;
            // transition: left 0.5s;

            &::after {
                content: "";
                height: 5px;
                width: 30px;
                background: $white;
                position: absolute;
                bottom: 10px;
                border-radius: 25px;
            }

            &::before {
                content: "";
                height: 5px;
                width: 30px;
                background: $white;
                position: absolute;
                top: 10px;
                border-radius: 25px;
            }
        }

        .menuTransform {
            right: -30px;

            &::after {
                right: 45px;
                transform: rotate(-45deg);
                transition: transform 0.5s;
                bottom: 0;
            }

            &::before {
                right: 45px;
                transform: rotate(45deg);
                transition: transform 0.5s;
                top: 0px;
            }
        }

        &-img {
            width: 75px;
            z-index: 5;
            padding: 0 50%;
            background: $black;
        }

        &-nav {
            position: fixed;
            width: 100%;
            display: flex;
            height: 85px;
            z-index: 4;
            top: 0;
            align-items: center;
            justify-content: space-evenly;
            background: $black;
            transition: top 0.5s;

            &-item {
                color: white;
                list-style-type: none;
                font-size: 20px;
            }
        }

        .activeHeader {
            display: flex;
            top: 80px;
        }
    }

    .main {
        &-box {
            padding: 20px;

            &-title {
                font-size: 55px;
                text-align: center;
                letter-spacing: 10px;
            }

            &-subtitle {
                letter-spacing: 6px;
                width: 230px;
                font-size: 25px;
                padding: 0;
            }
        }

        &-subtitle {
            letter-spacing: 10px;
            font-size: 25px;
            width: auto;
            text-align: center;
            z-index: -1;

            &::after {
                left: 0;
            }
        }
    }

    .setaBaixo {
        z-index: -1;
        height: 50px;
        animation: bounceArrow 2s linear infinite;
    }

    .bait {
        font-size: 30px;
        margin-top: 50px;
        background: green;
        border: 1px solid green;
        color: white;
        padding: 15px 5px;
        border-radius: 25px;
        width: 300px;
    }

    .hist,
    .curios {
        width: 95%;
        &-title {
            font-size: 30px;
            letter-spacing: 10px;
            font-weight: 100;
        }
        // carrossel mob
        &-carrossel {
            .slick-prev {
                height: 30px;
                width: 30px;
            }

            .slick-next {
                height: 30px;
                width: 30px;
            }
        }

        &-box {
            display: flex;
            flex-direction: column-reverse;

            &-text {
                margin: 0 8%;

                &-parag {
                    font-size: 25px;
                    margin-bottom: 25px;
                }
            }

            &-img {
                width: 50px;
                margin: 0 auto;
            }
        }
    }

    .hack {
        &-title {
            font-size: 30px;
            letter-spacing: 10px;
            font-weight: 100;
        }

        &-subtitle {
            font-size: 25px;

            b {
                letter-spacing: 7px;
                font-size: 25px;
            }
        }

        &-button {
            background: red;
            margin: 75px 0;
        }

        .modal {
            &-parag {
                font-size: 35px;
                width: 95%;
            }

            &-button {
                font-size: 45px;
                margin: 35px 0;
            }
        }
    }
}

@keyframes bounceArrow {
    0% {
        bottom: 5vh;
    }

    50% {
        bottom: 3vh;
    }

    100% {
        bottom: 5vh;
    }
}

@keyframes glitch {
    0% {
        clip-path: inset(0 0 19% 0);
    }

    40% {
        clip-path: inset(31% 0 52% 0);
    }

    80% {
        clip-path: inset(13% 0 2% 0);
    }

    100% {
        clip-path: inset(40% 0 47% 0);
    }
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}