* {
  margin: 0;
  padding: 0;
  font-family: 'Iceland', cursive;
}

.body {
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
  background: #000000ad;
  position: fixed;
  width: 100%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav-item {
  color: white;
  list-style-type: none;
  font-size: 2rem;
}

.header-nav-item-img {
  width: 70px;
}

.main {
  height: 99vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-video {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.main-title {
  color: white;
  letter-spacing: 25px;
  margin-bottom: 50px;
  position: relative;
  width: 880px;
  font-size: 55px;
  bottom: 50px;
}

.main-title::after {
  content: 'Hacking The world!';
  position: absolute;
  left: 2px;
  background: black;
  animation: glitch 2.5s infinite linear alternate-reverse;
}

.main-title::before {
  content: 'Hacking The world!';
  position: absolute;
  left: -3px;
  background: black;
}

.imagem-bait {
  position: fixed;
  right: 1rem;
  bottom: -46%;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
}

#bImg {
  position: fixed;
  right: 0;
  bottom: -30%;
  -webkit-transition: bottom 1.5s;
  transition: bottom 1.5s;
}

.is--active {
  bottom: 0 !important;
  z-index: 2;
}

#imagem {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  width: 100px;
}

#imagem:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.videoTeste {
  background: red;
  z-index: 5;
}

.setaBaixo {
  width: 35px;
  position: absolute;
  bottom: 5vh;
  background: black;
  padding: 5px;
  border-radius: 50%;
  -webkit-animation: bounceArrow 1s infinite;
          animation: bounceArrow 1s infinite;
}

@-webkit-keyframes bounceArrow {
  0% {
    bottom: 5vh;
  }
  50% {
    bottom: 3vh;
  }
  100% {
    bottom: 5vh;
  }
}

@keyframes bounceArrow {
  0% {
    bottom: 5vh;
  }
  50% {
    bottom: 3vh;
  }
  100% {
    bottom: 5vh;
  }
}

@-webkit-keyframes glitch {
  0% {
    -webkit-clip-path: inset(0 0 19% 0);
            clip-path: inset(0 0 19% 0);
  }
  40% {
    -webkit-clip-path: inset(31% 0 52% 0);
            clip-path: inset(31% 0 52% 0);
  }
  80% {
    -webkit-clip-path: inset(13% 0 2% 0);
            clip-path: inset(13% 0 2% 0);
  }
  100% {
    -webkit-clip-path: inset(40% 0 47% 0);
            clip-path: inset(40% 0 47% 0);
  }
}

@keyframes glitch {
  0% {
    -webkit-clip-path: inset(0 0 19% 0);
            clip-path: inset(0 0 19% 0);
  }
  40% {
    -webkit-clip-path: inset(31% 0 52% 0);
            clip-path: inset(31% 0 52% 0);
  }
  80% {
    -webkit-clip-path: inset(13% 0 2% 0);
            clip-path: inset(13% 0 2% 0);
  }
  100% {
    -webkit-clip-path: inset(40% 0 47% 0);
            clip-path: inset(40% 0 47% 0);
  }
}
/*# sourceMappingURL=styles.css.map */