* {
    margin: 0;
    padding: 0;
    // font-family: 'Bungee Hairline', cursive;
    font-family: 'Iceland', cursive;
}

.body {
    height: 100vh;

    &-bg {
        width: 105%;
        position: fixed;
        z-index: -1;
    }
}



// ---------- inicio Header ----------
.header {
    display: flex;
    align-items: center;
    height: 12vh;
    background: #000000ad;
    position: fixed;
    width: 100%;
    z-index: 5;

    &-nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;

        &-item {
            color: white;
            list-style-type: none;
            font-size: 2rem;

            // font-family: 'Aldrich', sans-serif;
            &-img {
                width: 70px;
            }
        }
    }
}

// ---------- Inicio Main ----------
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    // background-image: url('../img/codeRain.gif');
    // background-size: cover;
    justify-content: center;
    align-items: center;

    // &-video {
    //     width: 100%;
    //     position: absolute;
    //     z-index: -1;
    // }

    &-title {
        color: white;
        letter-spacing: 20px;
        font-size: 70px;
        margin-bottom: 25px;
        font-weight: 100;
        background: #000000e3;
        padding: 0 5px;
    }
    &-subtitle{
        color: white;
        letter-spacing: 25px;
        position: relative;
        width: 500px;
        font-size: 30px;
        &::after {
            content: 'We break you!';
            position: absolute;
            left: 2px;
            background: black;
            animation: glitch 2.5s infinite linear alternate-reverse;
        }

        &::before {
            content: 'We break you!';
            position: absolute;
            left: -3px;
            background: black;
        }
    }

}
// ---------- Inicio História ----------
.hist{
    background: #000000cf;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    &-title{
        color: white;
        font-size: 35px;
        letter-spacing: 15px;
        text-align: center;
        margin-bottom: 50px;
    }
    &-box{
        display: flex;
        justify-content: space-evenly;
        &-parag{
            color: white;
            width: 25%;
        }
        &-img{
            width: 250px;
        }
        
    }
}







.imagem-bait {
    position: fixed;
    right: 1rem;
    bottom: -46%;
    transition: bottom 0.5s;

}

#bImg {
    position: fixed;
    right: 0;
    bottom: -30%;
    transition: bottom 1.5s;
}

.is--active {
    bottom: 0 !important;
    z-index: 2;
}




.setaBaixo {
    width: 35px;
    position: absolute;
    bottom: 5vh;
    background: black;
    padding: 5px;
    border-radius: 50%;
    animation: bounceArrow 1s infinite;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
background: #000;
}

::-webkit-scrollbar-thumb {
background: #888;
}
  

@keyframes bounceArrow {
    0% {
        bottom: 5vh;
    }

    50% {
        bottom: 3vh;
    }

    100% {
        bottom: 5vh;
    }
}

// ---------- Keyframe Titulo ----------
@keyframes glitch {
    0% {
        clip-path: inset(0 0 19% 0);
    }

    // 10% {
    //     clip-path: inset(29% 0 6% 0);
    // }

    // 20% {
    //     clip-path: inset(100% 0 1% 0);
    // }

    // 30% {
    //     clip-path: inset(65% 0 23% 0);
    // }

    40% {
        clip-path: inset(31% 0 52% 0);
    }

    // 50% {
    //     clip-path: inset(71% 0 8% 0);
    // }

    // 60% {
    //     clip-path: inset(40% 0 4% 0);
    // }

    // 70% {
    //     clip-path: inset(44% 0 51% 0);
    // }

    80% {
        clip-path: inset(13% 0 2% 0);
    }

    // 90% {
    //     clip-path: inset(80% 0 100% 0);
    // }

    100% {
        clip-path: inset(40% 0 47% 0);
    }
}